#heading {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #cc0000;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
    text-align: center;
    text-shadow: 2px 1px 1px black;
  }
html{
    padding: 0;
    margin: 0;
}
h1{
    margin-right: 6vw ;
}
img{
    margin-right: none;
}
iframe{
    top: 20%;
    padding-top: 8%;
    margin-top: 20%;
    margin: auto;
    width: 50vw;
    display: block;
}
#myBtn {
    width: 10vw;
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 40px; 
    z-index: 99; 
    border: none; 
    outline: none;
    background-color: red; 
    color: white;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
    text-shadow: 2px 1px 1px black;
  }
  
  #myBtn:hover {
    background-color: #555; 
  }
 @media (max-width: 800px) {
    h1{
        font-size: 2.5vw;
    }
    iframe{
        width: 100%;
    }
    #myBtn{
        padding: 5px;
        bottom: 0;
        right: 0;
        font-size: 3vw;
        width: 100%;
    
    }
  }
