
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300;700&display=swap');


div{
    background-color: black;
}




li a:hover {
  background-color: #111;
}



.cmd{
    background-color: black;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.cmdTL{
    margin: 0;
    background-color: white;
}
.cmdIcon{
    width: 2vw;
}
.cmdText{
    font-size: small;
    font-weight: 700;
    font-family: monospace;
}
table{
    width: 100%;
    padding: 0%;
}
td{
    padding: 0%;
    margin: 0%;
}
img{
    border: 1px solid white;
}
.x:hover{
    border: 1px solid red;
}
.typewriter h1{
    color: green;
    font-family: monospace;
}
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid green; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    float: left;
    font-size: 2.6vw;
    animation: 
      typing 4s steps(40, end),
      blink-caret .75s step-end 3.5s infinite;
    
  }


  @keyframes blink-caret {
    from, to { 
        border-color: transparent;
    }
    50% { border-color: green; }

  }

.meArt{
    color: rgb(0, 190, 0);
    text-align: center;
    margin: 0px;
    width: 100%;
    font-size: 1.5vw;


}

.scan1{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.02s;
}
.scan2{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.04s;
}
.scan3{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.06s;
}
.scan4{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.08;
}
.scan5{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.1s;
}
.scan6{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.12s;
}
.scan7{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.14s;
}
.scan8{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.16s;
}
.scan9{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.18s;
}
.scan10{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.2s;
}
.scan11{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.22s;
}
.scan12{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.24s;
}
.scan13{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.26s;
}
.scan14{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.28s;
}
.scan15{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.3s;
}
.scan16{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.32s;
}.scan17{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.34s;
}
.scan18{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.36s;
}
.scan19{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.38s;
}
.scan20{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.4s;
}
.scan21{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.42s;
}
.scan22{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.44s;
}
.scan23{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.46s;
}
.scan24{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.48s;
}
.scan25{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.5s;
}
.scan26{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.52s;
}
.scan27{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.54s;
}
.scan28{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.56s;
}
.scan29{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.58s;
}
.scan30{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.6s;
}
.scan31{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.62s;
}
.scan32{
    animation: glitch ease-in-out 0.64s infinite;
    animation-delay: 0.64s;
}





@keyframes glitch{
 from{
    color: darkgreen;
 }
 to{
    color: rgb(0, 190, 0);
 }
}

@keyframes typing {
    from { width: 0 }
    to { width: 90% }
  }


