
ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    width: 100vw;
    z-index: 3;
    overflow: hidden;
  }
  div{
    width: 100%;
    overflow: hidden;
    margin: auto;
    text-align: center;

  }
  
  li {
    display: inline-flex;
    margin: auto;
    text-align: center;
    width: 25%;
  }
  
  li a {
    font-size: x-large;
    font-family:  monospace;
    display: block;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 100%;

  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  @media screen and (max-width: 480px) {
    li a {
      font-size: 2.6vw;
    }
  }